extends layout

block content
	p This project is an attempt to create a new type of user interface for social networks and web forums. It is the thesis project of Otto Borden, a computer science major at <a href="//washcoll.edu" target="_blank" /> Washington College</a>.