doctype html
html
	head
		title= "Openbook"
		link(rel='stylesheet', href='/stylesheets/style.css')
		block scripts

	body
		block content
	
		#headerbar
			ul#navlinks
				li: a(href="//localhost:3000/#") Home
				li: a(href="//localhost:3000/login") Login
				li: a(href="//localhost:3000/signup") Signup
				li: a(href="//localhost:3000/forum") Forum
				li: a(href="//localhost:3000/post") Post
				li: a(href="//localhost:3000/about") About
				
		#footer
			p(style="text-align: center") Copyright 2014 Openbook