html,
body {
	background-color: #FFFFFF;
	padding: 0px;
	margin: 0px;
	font: 1em Calibri, Arial, sans-serif;
}

#wrapper {
	margin-right: auto;
	margin-left: auto;
	width: 96%;
}

#headerbar {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #169b3e;
	padding: .3em;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
}

#topicslist {
	position: absolute;
	display: inline-block;
	top: 0;
	left: 75px;
	width: 100%;
	background-color: #1987fa;
	margin: 0;
	padding: 0;
}

#topicslist li {
	list-style-type: none;
	padding-right: 20px;
}

#sidebar {
	position: absolute;
	top: 0;
	left: 0;
	width: 75px;
	height: 100%;
	background-color: #169b3e;
	padding: .3em;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
}

#navlinks {
	margin:0;
	padding:0;
}

#navlinks li {
	/*display: inline;*/
	list-style-type: none;
	padding-right: 20px;
}

#main {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 75px;
	background-color: #f9ec2a;
	padding: .3em;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
}

circle.node {
	cursor: pointer;
	stroke: #000;
	stroke-width: .5px;
}

line.link {
  fill: none;
  stroke: #9ecae1;
  stroke-width: 1.5px;
}

a {
  color: #00B7FF;
  text-decoration: none;
}